Options -ExecCGI
RemoveHandler .php .php3 .php4 .php5 .phtml .pl .cgi .htm .html
RemoveType .php .php3 .php4 .php5 .phtml .pl .cgi .htm .html
DefaultType application/octet-stream
<IfModule mod_php5.c>
	php_flag engine off
</IfModule>


<IfModule mod_headers.c>
	Header set Content-Disposition attachment 
</IfModule>